.f4 {
   width: 100%;
  display: grid;
  grid-template-columns:200px 300px 200px auto;
  align-items: center;
  justify-items:center;
}

.f4 img{
    width: 100%;
    object-fit: contain;
    display: block;
}

.f4 .logo {
    width: 60px;
}

.f4 .image{
    width: 150px;
}
.f4 .secured {
    width: 150px;
}
.f4 .copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #777;
}
@media only screen and (max-width: 1281px) {
    .f4 {
        width: 100%;
       display: grid;
       grid-template-columns:180px 200px 200px auto;
       align-items: center;
       justify-items:center;
     }
}
@media only screen and (max-width: 974px) {
    .f4 {
        width: 100%;
       display: grid;
       grid-template-columns:100px 150px 150px auto;
       align-items: center;
       justify-items:center;
     }

}
@media only screen and (max-width: 822px) {
    .f4 {
        width: 100%;
       display: grid;
       grid-template-columns:repeat(3,1fr);
       align-items: center;
       justify-items:center;
       grid-gap: 10px;
     }
     .f4 .copyright{
        width: 100%;
        display: flex;
        justify-content: center;
        grid-column: 1 / span 3;
    }
     
}

@media only screen and (max-width: 498px) {
    .f4 {
        width: 100%;
       display: grid;
       grid-template-columns:repeat(1,1fr);
       grid-template-rows: repeat(3,1fr);
       align-items: center;
       justify-items:start;
       grid-gap: 10px;
     }
     .f4 .copyright{
        width: 100%;
        display: flex;
        grid-column: 1 / span 1;
        
       
    }
     
}
